__pycache__
.env
.vscode
build
olmoearth_projects.egg-info
rslearn.egg-info
project_data
.venv/

sen1floods11_data
dataset_floods/cache
dataset_floods/tiles
dataset_floods/windows
OlmoEarth-v1-Base
logs
checkpoints
*.png


pastis_hd_target
dataset_pastis/cache
dataset_pastis/tiles
dataset_pastis/windows